

.title{
	text-align: center;
	margin-bottom: 5%;
}
.question{
	margin-left: 4%;
}
.answer{
	display: block;
	margin-left: 4%;
}
.button{
	width: 400px;
	height: 100px;
	/*margin: 10% 35%;*/
	display: block;
	margin: 5% auto;
}